*.md5ok
cgmemtime/cgmemtime
cgmemtime/testa
data/*.log
data/fastq/*.fastq.gz
data/fastq/*.tsv
data/common/taxdmp.zip
data/common/fasta/*.fna.gz
data/common/genbank/*.fna.gz
data/common/refseq/*.fna.gz
data/common/refseq/RELEASE_NUMBER
data/common/refseq/RefSeq-release231.catalog.gz
data/common/refseq/assembly_summary_refseq.txt
data/common/refseq/*.files.installed
data/common/genbank/assembly_summary_genbank.txt
data/common/names.dmp
data/common/nodes.dmp
data/projects/*/csv/*.csv
data/projects/*/csv/*.csv
data/projects/*/db/*_db.zip
ku/human_virus_db/*
ku/viral_db/*
ku/microbial_db/*
ku/krakenuniq/*
sra-tools/*
